{% extends 'layout.html' %}

{% block head %}
    {% parent %}
    <title>LRFMAD-博客</title>
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/lib/highlight/styles/monokai-sublime.css">
    <script type="text/javascript" src="/lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="/lib/highlight/highlight.pack.js"></script>
    <script src="/js/blog.js"></script>
{% endblock %}

{% block content %}
    {% parent %}
    <div class="content">
        
        <div class="left-con markdown-body">
            <div class="list-nav">
                <a class="{%if list == 'all'%}curr{%endif%}" href="./?list=all">全部</a>
                <a class="{%if list == 'web'%}curr{%endif%}" href="./?list=web">WEB</a>
                <a class="{%if list == 'mad'%}curr{%endif%}" href="./?list=mad">MAD</a>
                <a class="{%if list == 'other'%}curr{%endif%}" href="./?list=other">杂谈</a>
            </div>

            {% for item in items %}
            <div class="art-con {% if loop.first %}first{%endif%}">
                <h4 class="art-title"><a target="_blank" href="{{item.dir}}">{{item.title}}</a></h4>
                {% if loop.first %}
                <div class="art-view">
                    {{ firstItem|raw() }}
                </div>
                {% endif %}
                <div class="art-type {{item.type}}">{{item.type|upper()}}</div>
                <div class="art-info">
                    <a target="_blank" href="{{item.dir}}" class="art-btn">VIEW&nbsp;<span>&gt;&gt;</span></a>
                    <div class="info-date">
                        {{item.mate.updateAt|date('Y年m月d日', -480)}}
                        {{item.mate.updateAt|date('H:i', -480)}}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% if nodata %}
                <div style="text-align: center">→_→ 还没有哦</div>
            {% endif %}
        </div>
        <div class="right-con">
            <div class="r-block r-msg">
                <h5>MSG</h5>
                <p>
                    博客搭建中。。。
                </p>
            </div>
            {% include './widget/blog_side_more.html' %}
        </div>
    </div>
    <div class="topBnt">TOP</div>
{% endblock %}