html{height: 100%;background: #f5f4f2;}
body{font-size: 16px;height: 100%;background: #fff;}

.nav li{text-align: left;text-indent: 5px;}
.login{height: 100%;width: 100%;background: #fff;}
.login p{text-align: center;padding: 10px 0;font-size: 0.8rem;color: #939393;}
.login p span{color: #db9827;}
.login a{text-decoration: underline;cursor: pointer;}
.login ul{width: 95%;max-width: 600px;margin: 0 auto;text-align: center;margin-top: 60px;}
.login ul li{margin: 10px 0;display: inline-block;width: 100%;}
.submit,.regist{margin-top:40px;width: 30%;height: 35px;border-radius: 5px;display: inline-block;line-height: 35px;color: #fff;cursor: pointer;}
.submit{background: #2dc03e; margin-right: 20px;}
.closeBottom{cursor: pointer;}
.regist{background: #3089d9;margin-left: 20px;}
.box{border-top:10px solid #f5f4f2;margin-top: 0;}

/*regist*/

