<div class="footer">
    <!-- <hr /> -->
    <div class="foot-bottom">
        <!-- <div class="foot-kotori"></div> -->
        <!-- <img class="foot-kotori" src="/images/kotori.png" alt=""> -->
        <div class="foot-con">
            <div class="foot-warp">
                <ul class="my-page-link">
                    <li class="foot-title">个人相关</li>
                    <a target="_blank" href="https://github.com/lenrinfvck"><li>Github</li></a>
                    <a target="_blank" href="/blog/"><li>博客</li></a>
                    <a target="_blank" href="http://space.bilibili.com/213959/#!/index"><li>B站空间</li></a>
                </ul>
                <p class="friend-links"><span class="foot-title">友情链接</span><a href="https://www.wuliaonimei.com">无聊(后端)</a><a href="http://icaife.github.io/links/">icaife(前端)</a></p>
                <p class="site-info">lenrinfvck.cn 2016</p>
            </div>
        </div>
    </div>
</div>