<div class="topBar">
    <div class="nav">
        <ul>
            <li class="navTag{%if nav == 'index'%} actived{%endif%}" data-bg='' data-color='#B1FF43'><a href="/">INDEX</a><div class="tagBox" style="background: #B1FF43"></div></li>
            <li class="navTag{%if nav == 'web'%} actived{%endif%}" data-bg='' data-color='#FF2C54'><a href="/web/">WEB</a>
            <div class="tagBox" style="background: #FF2C54"></div></li>
            <li class="navTag{%if nav == 'mad'%} actived{%endif%}" data-bg='' data-color='#25B2D5'><a href="/mad/">MAD</a>
            <div class="tagBox" style="background: #25B2D5"></div></li>
            <li class="navTag{%if nav == 'blog'%} actived{%endif%}" data-bg='' data-color='#FF763A'><a href="/blog/">BLOG</a>
            <div class="tagBox" style="background: #FF763A"></div></li>
        </ul>
    </div>
</div>